<div class="nav-left">
  <div class="div-nav-left info">
    <%= link_to 'Xin chào '+ current_user.full_name, edit_user_path(current_user.id)%>
  </div>
  <div class="div-nav-left new-task">
    <%=link_to "Thêm task mới", new_user_todo_path(current_user.id)%>
  </div>
  <div class="div-nav-left task-complete">
    <%=link_to "Task đã hoàn thành", task_complete_path, method: :get%>
  </div>
  <div class="div-nav-left unfinished">
    <%=link_to "Task chưa hoàn thành", root_path%>
  </div>
  <div class="div-nav-left sign-out">
    <%=link_to "Đăng xuất", destroy_user_session_path, method: :delete, data: {turbo_method: :delete }%>
  </div>
</div>
<div class="nav-right">
  <div class="nav-right-head">
    <p>Chỉnh sửa thông tin cá nhân</p>
  </div>
  <div class="nav-right-main">
    <div class="edit-info">
      <div class="form-edit">
        <h2 class="welcome_user">Xin chào <b><%=current_user.full_name%></b></h2>
        <%= form_with model: @user do |form| %>
          <div class="field">
            <%= form.label :full_name, "Họ và tên"%><br />
            <%= form.text_field :full_name, placeholder: "Username", class: "form-control"%>
          </div>
          <div class="field">
            <%= form.label :email, "Email"%><br />
            <%= form.email_field :email, placeholder: "Email", class: "form-control"%>
          </div>
          <div class="actions">
            <%= form.submit "Cập nhật thông tin", class:"btn btn-lg btn-primary btn-login fw-bold text-uppercase" %>
          </div>
        <% end %>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="field">
            <%= f.label :current_password, "Nhập mật khẩu hiện tại" %><br />
            <%= f.password_field :current_password, autocomplete: "current-password",class: "form-control" %>
          </div>
          <div class="field">
            <%= f.label :password, "Nhập mật khẩu mới"%><i>(Tối thiểu 6 kí tự)</i><br />
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control"%>
          </div>
          <div class="field">
            <%= f.label :password_confirmation,"Xác nhận mật khẩu mới" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          </div>
          <div class="actions">
            <%= f.submit "CẬP NHẬT MẬT KHẨU" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
